.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.HomePageHeader {
  background: rgb(81,148,245);
  background: linear-gradient(90deg, rgba(81,148,245,1) 0%, rgba(23,84,196,1) 33%, rgba(0,50,212,1) 100%);
  width: 100%;
  padding-top: 140px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  display: flex;
  align-self: center;
}

.logo {
  margin-right: 10px;
}

.navbarButton {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.navbarButtonPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarButtonSelected {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.navbarTitle {
  font-family: "Montserrat Semi-Bold";
  display: flex;
  align-items: flex-end;
  font-size: 25px;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: 1px solid black;*/
  width: 80%;
  font-family: Montserrat;
  color: #FFFFFF;
}

.pageContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.RoundButton {
  background-color: #0e3377;
  padding: 15px 30px;
  border-radius: 40px;
  color: #EEEEEE;
  font-family: "Montserrat Semi-Bold";
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-basis: auto;
}

.SignIn {
  padding: 7px 14px;
  border-radius: 40px;
  border: #FFFFFF 1px solid;
  color: #FFFFFF;
  font-family: "Montserrat";
  margin: 0px 10px;
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-basis: auto;
}

.SubtitleContent {
  font-size: 15px;
  color: #EEEEEE;
  font-family: "Montserrat Light";
  margin-bottom: 50px;
}

.TitleContent {
  font-size: 55px;
  color: #FFFFFF;
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Light;
  src: url("./assets/fonts/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Extra Light;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Semi-Bold;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
