.App {
  display: flex;
  text-align: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.accountHolder{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 300px;
}

.accountImage{
  border-radius: 50%;
  width: 80%;
}

.card {
  display: flex;
  width: 100%;
  padding: 1%;
  background-color: #FFFFFF;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: "Montserrat Semi-Bold";
  border-radius: 15px;
  box-shadow: 7px 7px 20px -1px rgba(0,0,0,0.13);
}

.editSetButton {
  border: #555 solid 2px;
  border-radius: 50px;
  padding: 2px 8px;
  color: #555;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  cursor: pointer;
}

.feature {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 20px 20px;
  color: #222222;
}

.featureBody {
  width: 80%;
  font-family: Montserrat;
  padding-top: 20px;
  font-size: 15px;
  color: #444444;
}

.featureTitle {
  padding-top: 20px;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.generateSetButton {
  border: #4250f4 solid 2px;
  background-color: #4250f4;
  border-radius: 50px;
  padding: 2px 8px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  cursor: pointer;
}

.hashtagSample {
  border: #4250f4 solid 2px;
  border-radius: 50px;
  padding: 2px 8px;
  color: #4250f4;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  margin: 2px;
}

.hashtagSamples {
  display: flex;
  flex-wrap: wrap;
}

.hashtagCount {
  margin-bottom: 20px;
  color: #555555;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
}

.Hashtag {
  display: flex;
  border: #4250f4 solid 2px;
  background-color: #4250f4;
  border-radius: 50px;
  padding: 4px 10px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
  margin: 5px;
  align-items: center;
  cursor: pointer;
}

.HashtagX {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50px;
  margin-left: 8px;
  padding: 2px 8px;
  color: #4250f4;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.HollowButton {
  border: #565656 solid 2px;
  padding: 15px 20px;
  border-radius: 10px;
  color: #323233;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.HomePageHeader {
  background: rgb(81,148,245);
  background: linear-gradient(90deg, rgba(81,148,245,1) 0%, rgba(23,84,196,1) 33%, rgba(0,50,212,1) 100%);
  width: 100%;
  padding-top: 140px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  height: auto;
}

.imageHolder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.link {
  text-decoration: none;
  display: flex;
  align-self: center;
}

.loggedInPage {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #EEEEEE;
}

.logo {
  margin-right: 10px;
}

.navbarButton {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.navbarButtonPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbarButtonSelected {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.navbarTitle {
  font-family: "Montserrat Semi-Bold";
  display: flex;
  align-items: flex-end;
  font-size: 25px;
}

.navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  /*border: 1px solid black;*/
  width: 80%;
  font-family: Montserrat;
  color: #FFFFFF;
}

.Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pageContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.profileColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}

.profileLabel {
  font-family: Montserrat;
  color: #999999;
}

.profileNumbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}

.profileStat {
  flex: 1;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.profileStats {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileTitle {
  font-family: Montserrat;
  font-size: 35px;
  padding-bottom: 10px;
}

.RoundButton {
  background-color: #0e3377;
  padding: 15px 30px;
  border-radius: 10px;
  color: #EEEEEE;
  font-family: "Montserrat Semi-Bold";
  cursor: pointer;
}

.setPageGeneralButton {
  border: #555 solid 2px;
  border-radius: 50px;
  padding: 2px 8px;
  color: #555;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  cursor: pointer;
}

.setPageRenameButton {
  border: #4250f4 solid 2px;
  background-color: #4250f4;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 2px 8px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.setPageDeleteButton {
  border: #ad081b solid 2px;
  background-color: #ad081b;
  border-radius: 50px;
  padding: 2px 8px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  cursor: pointer;
  margin-right: 10px;
}

.setPageBackButtonContainer {
  display: flex;
  flex: 1;
}

.setPageButtonPanel {
  display: flex;
  flex-direction: row;
}

.setPageRenameBar {
  display: flex;
  border: brown 1px solid;
  flex-direction: column;
  align-items: center;
}

.setPageRenameSubmitButton {
  border: #4250f4 solid 2px;
  background-color: #4250f4;
  border-radius: 50px;
  padding: 2px 8px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.setPageRenameButtonPanel {
  display: flex;
  width: 100%;
  border: blue 1px solid;
  flex-direction: row;
  justify-content: flex-end;
}

.setPageAddTagsContainer {
  display: flex;
  padding: 20px 0px;
}

.setPageAddTagsInput {
  flex: 1;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top: #AAAAAA 2px solid;
  border-bottom: #AAAAAA 2px solid;
  border-left: #AAAAAA 2px solid;
  border-right: 0px solid;
  font-size: 20px;
  padding: 2px 10px;
  font-family: "Montserrat Semi-Bold";
}

.addTagsButton {
  border: #4250f4 solid 2px;
  background-color: #4250f4;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 8px 20px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
  cursor: pointer;
}

.setPageContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.setPageTitle {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Montserrat Semi-Bold";
  font-size: 40px;
}

.setPageTopBar {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
}

.setPageSuggestTags {
  display: flex;
}

.setPageSuggestTagsButton {
  border: #4250f4 solid 2px;
  background-color: #4250f4;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 8px 20px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
  cursor: pointer;
}

.setPageSuggestTagsInput {
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top: #555555 solid 2px;
  border-bottom: #555555 solid 2px;
  border-left: #555555 solid 2px;
  /*background-color: #999999;*/
  padding: 8px 20px;
  color: #555555;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
}

.setPageSuggestTagsInput [type=file]{
  cursor: pointer;
  display: block;
  font-size: 999px;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.setBody {
  color: #555555;
  font-family: "Montserrat Semi-Bold";
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.setBox {
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 7px 7px 20px -1px rgba(0,0,0,0.13);
}

.setButton {
  padding: 5px;
  font-family: "Montserrat";
  font-weight: bold;
}

.setHashtags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  width: 100%;
}

.setHashtagsDisplayed {
  flex: 1;
  color: #333333;
  text-align: left;
  font-size: 20px;
  font-family: "Montserrat Semi-Bold";
}

.setHashtagsX {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.setHashtagsXIcon {
  background-color: rgba(0, 0, 0, .3);
  color: #FFFFFF;
  padding: 2px 7px;
  border-radius: 50px;
  font-family: "Montserrat Semi-Bold";
  font-size: 20px;
  cursor: pointer;
}

.setText {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.setTitle {
  align-items: flex-start;
  padding-bottom: 3px;
  display: flex;
  font-family: "Montserrat Semi-Bold";
  font-size: 25px;
}

.setsBody {
  padding-top: 20px;
  padding-bottom: 600px;
}

.setsButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.setsContainer {
  /*border: red solid 1px;*/
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.singleLineTextInput {
  border: green 1px solid;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
}

.SignIn {
  padding: 7px 14px;
  border-radius: 40px;
  border: rgba(255, 255, 255, 0.6) 2px solid;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat";
  margin: 0px 10px;
  display: flex;
  align-self: center;
  flex-direction: row;
  flex-basis: auto;
  cursor: pointer;
}

.SubtitleContent {
  font-size: 15px;
  color: #EEEEEE;
  font-family: "Montserrat Light";
  margin-bottom: 50px;
}

.statCell {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.statRow {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.statValue {
  font-size: 50px;
  font-weight: bold;
  font-family: Montserrat;
  color: #FFFFFF;
}

.statName {
  font-size: 15px;
  font-family: Montserrat;
  color: #FFFFFF;
  width: 30%;
}


.statsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4250f4;
  width: 100%;
}

.statsTitle {
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 30px;
  padding-top: 40px;
}

.tagsContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 300px;
}

.templateBodyDisplayed {
  text-align: left;
  white-space: pre-wrap;
}

.templateInputContainer {
  padding-top: 20px;
  display: flex;
}

.templateInput {
  flex: 1;
  border-radius: 20px;
  border: #AAAAAA 2px solid;
  font-size: 20px;
  padding: 10px 10px;
  resize: none;
  font-family: "Montserrat Semi-Bold";
}

.templateSave {
  border: #4250f4 solid 2px;
  margin: 5px 5px;
  background-color: #4250f4;
  border-radius: 50px;
  padding: 3px 10px;
  color: #FFFFFF;
  font-family: "Montserrat Semi-Bold";
  font-size: 18px;
  cursor: pointer;
}

.templateSaveGoBack {
  border: #4250f4 solid 2px;
  margin: 5px 5px;
  border-radius: 50px;
  padding: 3px 10px;
  color: #4250f4;
  font-family: "Montserrat Semi-Bold";
  font-size: 18px;
  cursor: pointer;
}

.templateSaveContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 50px;
}

.textInput {
  width: 100%;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top: #AAAAAA 2px solid;
  border-bottom: #AAAAAA 2px solid;
  border-left: #AAAAAA 2px solid;
  border-right: 0px solid;
  font-size: 15px;
  padding: 0px 10px;
  font-family: "Montserrat Semi-Bold";
}

.TitleContent {
  font-size: 55px;
  color: #FFFFFF;
  padding-bottom: 30px;
  font-family: "Montserrat";
  font-weight: bold;
}

.whyContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px 20px 100px 20px;
  align-items: center;
}

.whyTitle {
  color: rgb(81,148,245);
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 30px;
  text-align: left;
}

.whyBody {
  text-align: left;
  padding-top: 20px;
  padding-right: 20%;
  font-family: Montserrat;
  color: #444444;
}

.whyText{
  flex: 1;
  padding-left: 5%;
}

.whyImage {
  flex: 1;
}

.RoundButton:hover {
  background-color: #0d2f6d;
}

.SignIn:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Light;
  src: url("./assets/fonts/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Extra Light;
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat Semi-Bold;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
